body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
}

h2 {
    margin-bottom: 15px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 180px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.producto p {
    margin: 5px 0;
}

.producto .btn-agregar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.producto .btn-agregar:hover {
    background-color: #45a049;
}

#carrito ul {
    list-style-type: none;
    padding: 0;
}

#carrito ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

#carrito ul li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#carrito ul li button:hover {
    background-color: darkred;
}

#limpiarCarrito {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#limpiarCarrito:hover {
    background-color: darkorange;
}

.hidden {
    display: none;
}

#alertaPresupuesto {
    color: red;
    font-weight: bold;
}
